openai==1.53.0
langchain-core==0.3.14
pydantic==2.9.2
python-dotenv==1.0.1
tiktoken==0.7.0
azure-search-documents==11.5.2
azure-identity==1.19.0
streamlit==1.39.0
promptflow==1.16.1
promptflow-core==1.16.1
langchain-community==0.3.4
langchain-openai==0.2.4
opentelemetry-instrumentation-langchain==0.33.5
langchain==0.3.6
langchain-text-splitters==0.3.1
langchain-qdrant==0.1.4